/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cursor-pointer {
    cursor: pointer !important;
}

.w-full {
    width: 100% !important;
}

.h-full {
    height: 100% !important;
}

.form-control-feedback {
    position: absolute;
    padding: 10px;
    right: 5px;
    z-index: 10;
}
